.userList{
    list-style-type: none;
    padding: 0 2rem 2rem 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width:860px) {
    .userList{
        padding: 0 4rem 02rem 4rem;
    }
}