.user-details{
    width: 500px;
}




.eachUser-card{
    margin: 12px;
}

.address-head{
    margin: 0px;
}

.name-head{
    font-size: 1.6rem;
    margin-bottom: 0px;
}

.name{
    font-size: 1.2rem;
}

.head{
    font-size: 1.6rem;
    margin: 0px;
    font-weight: 500;
}

.text{
    font-size: 1.2rem;
}

.image-coll{
    display: flex;
    flex-wrap: wrap;
}

.post-card-head{
    font-size: 1rem;
}

@media screen and (min-width:860px) {
    .eachUser-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }
    .user-details-card{
        margin-left: 10px;
        height: 300px;
        width: 300px;
    }
    .post-card{
        margin-left: 1rem;
        width: 70%;
    
    }
}

